<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /agency-portal/
#RewriteCond %{HTTP_HOST} ^codeareena.com [NC]
#RewriteRule ^(.*)$ http://www.codeareena.com/$1 [L,R=301,NC]
    RewriteCond %{REQUEST_URI} ^ap_sys.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    RewriteCond %{REQUEST_URI} ^ap_app.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule> 
Options -Indexes